{% extends 'base.html'%}
{% load static %}
{% block content %}


<div class="col-sm-10">
    <h3 class="text my-5">Contact Page</h3>
    <form class="contact-form">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name"> 
            </div>
            <div class="form-group col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address"> 
          </div>
          <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" row="3"></textarea> 
          </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
       <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
      
{% endblock content %} 