{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2 class="text-center text-primary mb-4">Latest Blog Posts</h2>
  <div class="row">
    {% for pos in post %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ pos.title }}</h5>
          <p class="card-text">{{ pos.desc|truncatewords:20 }}</p>
          <a href="{% url 'post_detail' pos.id %}" class="btn btn-outline-primary btn-sm">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}