{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
                <h4 class="mb-0">Login</h4>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}

                    {% for fm in form %}
                    <div class="form-group">
                        {{ fm.label_tag }}
                        {{ fm }}
                        {% if fm.errors %}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    <br>
                    <div class="text-center">
                        <input type="submit" value="Login" class="btn btn-primary btn-lg shadow-sm">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}